# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
*/.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Browser Profiles & Data
xing_chrome_profile/
xing_sb_profile/
xing_uc_profile/
*/downloaded_files/
*.lock

# Environment & Secret files
.env
.env.local

# OS specific
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
